@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Login">
    <h1 class="display-4">Welcome to Minesweeper</h1>
        <img src="images/MinesweeperImg.png"/>
    </form>
</div>
